<script>
    import { createEventDispatcher} from 'svelte'
    import materialStore from './material-store.js'

    const dispatch = createEventDispatcher();
    let materials = [];

    materialStore.subscribe(items => {
        materials = items;
    })

    const formatter = new Intl.NumberFormat('de-DE', {
        style: 'currency',
        currency: 'EUR'
    })
    
    function remove(id) {
        materialStore.remove(id)
    }

    function edit(id, name, price) {
        dispatch('edit', {id, name, price})
    }

    $: totalPrice = formatter.format(materials.reduce((acc, item) => acc + item.price, 0))

</script>


<style>
    table {
        width: 100%;
    }
    tr {
        cursor: pointer;
    }

    tr:last-of-type {
        cursor: inherit
    }
</style>

<table class="primary">
    <thead>
        <tr>
            <th>Material</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- The material.id set a unique id for each instance of the list-->
        {#each materials as material (material.id)}
            <tr on:click={edit(material.id, material.name, material.price )}>
                <td>{material.name}</td>
                <td>{formatter.format(material.price)}</td>
                <td on:click={remove(material.id)}><i class="far fa-trash-alt"></i></td>
            </tr>
        {/each}
            <tr>
                <td>Total</td>
                <td colspan="2">{totalPrice}</td>
            </tr>
    </tbody>
</table>